#global_menu_global_menu_webcomp .adm-main-menu-item-icon {
    background: url(/bitrix/images/webcomp.market/web-comp-icon.png) no-repeat;
    height: 49px;
    position: relative;
    z-index: 2;
    background-position: center 10px;
}

#global_menu_global_menu_webcomp:hover .adm-main-menu-item-icon {
    background-position: center -48px;
}

.adm-description-hidden {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    min-width: 200px;
    max-width: 200px;
}

.adm-description-block {
    position: relative;
}

.adm-description-block:hover > .adm-description-hidden {
    display: block;
}

.adm-description-block::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 200px;
    height: 10px;
}

.adm-detail-content-cell-r_multiple input {
    margin-bottom: 5px !important;
}

.adm-detail-content-cell-r_multiple .adm-detail-input-row:first-child .adm-multiple_remove {
    display: none !important;
}

.adm-multiple_remove {
    width: 14px;
    height: 14px;
    background: url(/bitrix/images/webcomp.market/delete.png) no-repeat;
    display: inline-block;
    vertical-align: text-top;
    background-size: cover;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

.adm-multiple_remove:hover {
    opacity: 1;
}

#ib_prop_list option[value="S:FORM_PHONE"],
#ib_prop_list option[value="S:FORM_STRING"],
#ib_prop_list option[value="S:FORM_EMAIL"],
#ib_prop_list option[value="S:FORM_TEXT"],
#ib_prop_list option[value="S:FORM_BIND"],
#ib_prop_list option[value="S:FORM_FILE"],
#ib_prop_list option[value="S:FORM_RATING"],
#ib_prop_list option[value="S:FORM_ADDRESS"] {
    font-weight: bold;
}

.adm-submenu-item-link-icon.webcomp-market {
    background: url(/bitrix/images/webcomp.market/icons.png) no-repeat;
    background-position: 6px 3px;
}

.adm-submenu-item-link-icon.webcomp-market__center {
    background: url(/bitrix/images/webcomp.market/icons.png) no-repeat;
    background-position: -27px 3px;
}

.adm-submenu-item-link-icon.webcomp-market__settings {
    background: url(/bitrix/images/webcomp.market/icons.png) no-repeat;
    background-position: -123px 3px;
}

.adm-submenu-item-link-icon.webcomp-market__orders {
    background: url(/bitrix/images/webcomp.market/icons.png) no-repeat;
    background-position: -317px 3px;
}

#webcomp_admin_area {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 500px;
}

#webcomp_admin_area iframe {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    border: 1px solid #cfd8d7;
    background-color: #fff;
}

.settings__theme-row {
    display: flex;
}

.settings__theme-item {
    margin-right: 10px;
}

.settings__theme-label {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
}

.settings__theme-label:hover {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.settings__theme-color {
    border-radius: 100%;
    width: 26px;
    height: 26px;
}

.settings__theme-input {
    position: absolute;
    left: -9999px;
}

.settings__theme-input:checked + .settings__theme-label {
    border: 2px solid #f0ac0d;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.admin-section:first-child .admin-section__btn--up {
    display: none;
}
.admin-section:last-child .admin-section__btn--down {
    display: none;
}
.admin-section__right {
    display: flex;
    align-items: center;
}

.admin-sections__section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-section__btns {
    margin-right: 25px;
    display: flex;
    align-items: center;
    width: 50px;
}

.admin-section__btn {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0 5px;
}

.admin-section__btn--down {
    transform: rotate(-180deg);
}
.admin-section__btn svg {
    fill: #396298;
}

.hidden {
    display: none;
}

.seo-check__info {
    text-align: left;
}

#webcomp_tab {
    padding: 0;
}

#webcomp_tab .adm-detail-title {
    display: none;
}

.webcomp-settings__wrap * {
    box-sizing: border-box;
}

.webcomp-settings__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px;
}

.webcomp-settings__tabs {
    width: 300px;
    max-width: 300px;
}

.webcomp-settings__form {
    flex: 1;
}

.webcomp-settings__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #c1d2db;
    border-radius: 3px;
    background: #fff;
}

.webcomp-settings__item {
    position: relative;
    padding: 14px 20px;
    border-bottom: 1px solid #c1d2db;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    color: #2d2d2d;
}

.webcomp-settings__item:hover {
    background: #f5f9f9;
}

.webcomp-settings__item:last-child {
    border-bottom: none;
}

.webcomp-settings__content {
    display: none;
    flex-direction: column;
    gap: 14px;
}

.webcomp-settings__content.active {
    display: flex;
}

.webcomp-settings__item.active {
    background: #f5f9f9;
}

.webcomp-settings__item.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    bottom: 0;
    width: 4px;
    background: #f0ac0d;
}

.webcomp-settings__content-wrap {
    flex: 1;
}

.webcomp-settings__content-heading {
    color: #3f4b54;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
    background: #e0e8ea;
    border-radius: 3px;
}

.webcomp-settings__field-heading {
    margin-top: 30px;
    font-size: 15px;
    color: #3f4b54;
}

.webcomp-settings__field {
    padding: 20px;
    border: 1px solid #e0e8ea;
    border-radius: 3px;
}

.webcomp-settings__field-title {
    margin-bottom: 10px;
    color: #3f4b54;
}

.field-heading--bold {
    font-weight: bold;
}

.webcomp-settings__field-description {
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    background: #f0ac0d;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.webcomp-settings__description-hidden, .webcomp-settings__description-modal {
    display: none;
}

.webcomp-settings__description-modal.active {
    display: block;
}

.webcomp-settings__description-modal {
    position: fixed;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #2d2d2d;
    width: 300px;
    height: auto;
    background: #e0e8ea;
    border: 1px solid #2d2d2d;
    border-radius: 3px;
    top: 40%;
    left: 50%;
    z-index: 100;
}

.description-modal__close {
    position: absolute;
    top: -20px;
    right: -20px;
    color: #2d2d2d;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.webcomp-settings__field-input {
    height: 30px !important;
}

.webcomp-settings__field-input.field-mini {
    width: 5%;
}

.webcomp-settings__field-input.field-small {
    width: 25%;
}

.webcomp-settings__field-input.field-medium {
    width: 50%;
}

.webcomp-settings__field-input.field-full {
    width: 100%;
}

.webcomp-settings__field--checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.webcomp-settings__field-info {
    width: 100%;
}

.webcomp-settings__field-title label {
    cursor: pointer;
}

.webcomp-settings__field--checkbox .webcomp-settings__field-title {
    margin-bottom: -1px;
    margin-left: 10px;
}

.webcomp-settings__field-editor-btn {
    height: 28px !important;
}

.webcomp-settings__view-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.webcomp-settings__view-item {
    padding: 10px;
    background: #fff;
    border: 1px solid #e0e8ea;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.webcomp-settings__view-label {
    cursor: pointer;
}

.webcomp-settings__view-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.view-input {
    position: absolute;
    left: -9999px;
}

.view-input:checked + .webcomp-settings__view-item {
    outline: 2px solid #f0ac0d;
}

.webcomp-settings__view-image {
    width: 100%;
}
