.bx-yellow .btn.btn-default {
	outline: none;
	background-color: #206eb4;
	border-color: #206eb4;
	color: #FFF;
}
.bx-yellow .btn.btn-default:hover {
	outline: none;
	background-color: #304488;
	border-color: #304488;
	color: #FFF;
}
.bx-yellow .btn.btn-default:active {
	outline: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}