.video-manual__heading {
    background-color: #e1edf8 !important;
    border-radius: 2px !important;
    color: #333f48 !important;
    height: 33px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    text-shadow: 0 1px #fff !important;
    padding-left: 13px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    line-height: 33px !important;
}

.video-manual__value {
    box-sizing: border-box;
}

.video-manual__value .manual_frame {
    width: 100% !important;
    border: none;
    height: 400px;
}

.bxcompprop-item_custom {
    border-top: 2px solid #ccc;
    padding-left: 30px !important;
    font-weight: 700 !important;
    position: relative;
}

.bxcompprop-item_custom:hover {
    box-shadow: none !important;
    background: none !important;
    border-color: transparent !important;
    border-top: 2px solid #ccc !important;
}

.bxcompprop-item_custom::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 8px;
    background: url("images/video_manual.png") no-repeat;
    background-size: contain;
}

.bxcompprop-item_custom:hover .bxcompprop-item-text {
    color: #000;
    transition: 0.3s;
}

.bxcompprop-item_custom:hover .bxcompprop-item-text {
    color: #f0ac0d !important;
}