html, body { height: 100%; }
body { display: flex; }
.include_module_error { text-align: center; margin: auto; }
.include_module_error p { margin-top: 0; line-height: 18px; font-size: 14px; color: #555; }
.include_module_error img { max-width: 300px;}